[Unit]
Description=nanodlp service
Requires=klipper.service

[Service]
Type=simple
ExecStart=/home/ragwa/nanodlp/run.sh
RemainAfterExit=yes
WorkingDirectory=/home/ragwa/nanodlp
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
