#[include fdm_module.cfg] # Unused for the Prometheus MSLA, provided for reference

[mcu]
serial: /dev/ttyACM0

[printer]
kinematics: z_only
max_velocity: 100
max_accel: 1000

[force_move]
enable_force_move: True

[pause_resume]

[virtual_sdcard]
path: ~/printer_data/gcodes

[temperature_sensor klipper_host]
sensor_type: temperature_host

# MCU temp graph can't be used alongside temperature_fan
#[temperature_sensor mcu]
#sensor_type: temperature_mcu

# Unused on the Prometheus MSLA, Z-only
#[stepper_x]
#enable_pin: !gpio6
#step_pin: gpio5
#dir_pin: gpio4
#microsteps: 16
#rotation_distance: 2.75
#endstop_pin: ^!gpio3
#position_endstop: 0
#position_min: 0
#position_max: 350

#[tmc2209 stepper_x]
#uart_pin: gpio10
##diag_pin: gpio7
#run_current: 1.1
#stealthchop_threshold: 999999

# unused on the Prometheus MSLA, Z-only
#[stepper_y]
#enable_pin: !gpio13
#step_pin: gpio12
#dir_pin: gpio11
#microsteps: 16
#rotation_distance: 2.75
#endstop_pin: ^!gpio2
#position_endstop: 0
#position_min: 0
#position_max: 350

#[tmc2209 stepper_y]
#uart_pin: gpio10
##diag_pin: gpio14
#run_current: 1.1
#stealthchop_threshold: 999999

[stepper_z]
enable_pin: !gpio22
step_pin: gpio17
dir_pin: gpio16
microsteps: 8
rotation_distance: 2
full_steps_per_rotation: 400
endstop_pin: ^!gpio1
position_endstop: 0
#position_endstop: 350 # top-mounted endstop
position_min: 0
position_max: 350

[tmc2209 stepper_z]
uart_pin: gpio10
diag_pin: gpio27
run_current: 1.1
stealthchop_threshold: 999999

[output_pin led_array]
pin: gpio29
pwm: True
value: 0
shutdown_value: 0 # Disable at emergency shutdown
cycle_time: 0.001 # PWM frequency: 0.001 = 1ms will give a base tone of 1kHz
scale: 1000 # PWM parameter will be in the range of (0-1000 Hz).

# Driven off the MCU temp, as a proxy for electronics bay temp
[temperature_fan exhaust_fans]
pin: gpio26 # FAN1 & FAN2
sensor_type: temperature_mcu
control: watermark
min_temp: 0
max_temp: 100
target_temp: 40

[fan_generic led_cooling]
pin: gpio25 # FAN3 & FAN4

# Unused in the Prometheus MSLA
#[fan_generic extra_fans]
#pin: gpi024

[gcode_macro LED_FAN_ON]
gcode:
    SET_FAN_SPEED FAN=led_cooling SPEED=1

[gcode_macro LED_FAN_OFF]
gcode:
    SET_FAN_SPEED FAN=led_cooling SPEED=0

[respond]
default_prefix:

# Emit "Z_move_comp" messages after all moves, for NanoDLP synchronization
[gcode_macro G0] 
rename_existing: G0.1
gcode:
    {% set fullparams = rawparams.split(';', 1)[0] %}
    G0.1 {fullparams}
    M400
    RESPOND MSG="Z_move_comp"

[gcode_macro G1] 
rename_existing: G1.1
gcode:
    {% set fullparams = rawparams.split(';', 1)[0] %}
    G1.1 {fullparams}
    M400
    RESPOND MSG="Z_move_comp"
